<div class="flex">
  <button (click)="_copy()" class="btn btn-sm btn-link btn-circle tooltip" data-tip="Copy">
    @if(isCopied()){
    <span class="mdi mdi-clipboard-check-outline text-2xl text-primary"></span>
    } @else {
    <span class="mdi mdi-clipboard-outline text-2xl text-primary"></span>
    }
  </button>

  <button (click)="_generate()" class="btn btn-sm btn-link btn-circle tooltip" data-tip="Generate">
    @if(isGenerated()){
    <span class="mdi mdi-check text-2xl text-primary"></span>
    }@else{
    <span class="mdi mdi-autorenew text-2xl text-primary"></span>
    }
  </button>
</div>
