<section class="flex flex-col gap-8">
  <article class="relative">
    <div
      class="flex justify-center items-center min-h-16 p-2 rounded-md bg-neutral text-neutral-content select-text tracking-widest text-2xl"
    >
      @for (char of generatedPassword(); track $index) {
      <span [ngClass]="{ 'text-accent': char | isNumber, 'text-secondary': char | isSymbol }"> {{ char }} </span>
      }
    </div>

    <div class="absolute top-0 right-2 h-full flex items-center">
      <app-password-actions (copy)="copy()" (generate)="generate()"></app-password-actions>
    </div>
  </article>

  <form [formGroup]="form">
    <label class="label flex flex-col items-start gap-2">
      <span class="label-text font-semibold">Length</span>
      <div class="w-full tooltip tooltip-open" [attr.data-tip]="range.value">
        <input
          #range
          formControlName="length"
          class="range range-accent range-sm"
          type="range"
          [min]="config.MIN_LENGTH"
          [max]="config.MAX_LENGTH"
        />
      </div>
    </label>

    <div class="form-control">
      <label class="cursor-pointer label">
        <span class="label-text font-semibold">With Numbers</span>
        <input formControlName="withNumbers" type="checkbox" class="checkbox checkbox-accent" />
      </label>
      <label class="cursor-pointer label">
        <span class="label-text font-semibold">With Uppercase</span>
        <input formControlName="withUpperCase" type="checkbox" class="checkbox checkbox-accent" />
      </label>
      <label class="cursor-pointer label">
        <span class="label-text font-semibold">With Symbols</span>
        <input formControlName="withSymbols" type="checkbox" class="checkbox checkbox-accent" />
      </label>
    </div>
  </form>
</section>
